# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
instance/
venv/
.venv/
env/
ENV/

# Node
node_modules/
dist/
build/
frontend/node_modules/
frontend/dist/

# Angular cache
frontend/.angular/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/